.saleContent__item {
    height: 500px;
    margin-right: 12px;
    position: relative;
}

.saleContent__image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    /*position: relative;*/
}

.saleContent__image-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background: rgba(56, 56, 56, 0.4);
    box-shadow: inset 0 4px 70px rgba(56, 56, 56, 0.5);
    opacity: 0;
}

.saleContent__image-link:hover:before {
    opacity: 1;
}

.saleContent__image-link:hover ~ .saleContent__button {
    opacity: 1;
}

/*.saleContent__image-link::after {*/
/*    content: "Book now";*/
/*    position: absolute;*/
/*    top: 40%;*/
/*    right: 27%;*/
/*    font: 18px Roboto, sans-serif;*/

/*    width: 130px;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    border: 1px solid black;*/
/*    border-radius: 8px;*/
/*    opacity: 0;*/
/*}*/

/*.saleContent__image-link:hover:after {*/
/*    opacity: 1;*/
/*}*/

/*.saleContent__button:hover ~ .saleContent__button {*/
/*    opacity: 1;*/
/*}*/

.saleContent__wishlist {
    top: 12px;
    right: 12px;
    position: absolute;
}

.saleContent__button {
    font: 18px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 170px;
    height: 40px;
    border-radius: 48px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.saleContent__rectangle {
    width: 45px;
    height: 25px;
    background-color: red;
    bottom: 100px;
    left: 0;
    position: absolute;
    z-index: 2;
}

.saleContent__discount {
    font: 14px Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
    top: -22px;
    left: 5px;
    position: absolute;
}

.saleContent__title {
    font: 14px Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    text-decoration: none;
}

.saleContent__price {
    font: 18px Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    text-decoration-line: line-through;
    left: 0;
    bottom: 20px;
    position: absolute;
}

.saleContent__perPrice {
    font: 20px Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    color: #D7302D;
    left: 75px;
    bottom: 20px;
    position: absolute;
}