.sale__section {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: auto;
    width: 1240px;
}

.category__titleContainer {
    text-align: center;
}

.sale__firstTitle {
    font: 34px Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 100px;
}

.sale__secondTitle {
    font: 34px Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.sale__gallery {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 80px;
    position: relative;
}

.sale__ellipse {
    width: 50px;
    height: 50px;
    top: 33%;
    right: -20px;
    position: absolute;
    z-index: 2;
}

.sale__arrow {
    width: 16px;
    height: 25px;
    top: 35.5%;
    right: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
